<!DOCTYPE html>
<html>
<head>
    <title>Регистрация</title>
</head>
<body>
    <h2>Регистрация</h2>
    <form action="/register" method="post">
        <label>Имя:</label>
        <input type="text" name="username" required>
        <label>Пароль:</label>
        <input type="password" name="password" required>
        <button type="submit">Регистрация</button>
    </form>
    <div>Уже есть аккаунт? Авторизуйтесь: <a href="/login">Авторизация</a></div>
    <div style="color:red;">
        <p th:if="${error}" th:text="${error}"></p>
    </div>
</body>
</html>
